.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Noto Sans KR', sans-serif;
  }
  .content {
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  
  .top-bar6 {
    margin-top: 6vh;
    margin-bottom: 9vh;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
  }
  
  .top-bar6 img {
    height: 30px;
    width: 30px;
    margin-left: 10px; /* 이미지와 텍스트 사이의 간격 조정 */
  }
  
  .text-6-1 {
    font-weight: 900;
    margin-left: -25px;
    flex-grow: 1; /* 텍스트가 나머지 공간을 채우도록 함 */
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    color: #272731;
  }


  .image-container-6 {
    width: 70%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh; /* Adjust margin as needed to move content down */
  
  }
  
  .image-6 {
    width: 100%;
    height: 100%;
    background-image: url(../images/Logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  
  .text-container-6 {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 6vh; /* Adjust height as needed */
    width: 100%;
    text-align: center;
    margin-top: 0; /* Adjust margin as needed */
  }
  
  .main-text-6 {
    margin-top: 0;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    margin-bottom: 1vh; /* Add spacing between main and sub text */
    font-weight: 900;
  }


  .login-container-6-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
  }
  
  .login-link-6 {
    color: rgba(248, 73, 130, 1);
    font-size: 14px;
    margin-left: 4vw;
    font-weight: 800;
  }
  