.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Noto Sans KR', sans-serif;
  }
  .content {
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  
  .top-bar12 {
    top: 0;
    position: fixed;
    margin-top: 6vh;
    margin-bottom: 0vh;
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 50px;
    width: 100%;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background-color: rgba(255, 255, 255, 1);
  }
  
  .image-12-1 {
    height: 27px;
    width: 28px;
    margin-left: 20px; /* 이미지와 텍스트 사이의 간격 조정 */
  }
  
  .image-12-2 {
    height: 80%;
  }


  .image-12-3 {
    height: 25px;
    width: 26px;
    margin-right: 20px; /* 이미지와 텍스트 사이의 간격 조정 */
  }






  .posts{
    overflow-y: auto;
    flex:1;
    width: 100%;
    margin-top: 50px;
    padding-top: 6vh;
  }



  .post-main{
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #e0e0e0;
  }

  .post-main img{
    height: 80%;
    border-radius: 10px;
    margin-left: 5vw;
  }

  .post-group{
    flex: 1;
    flex-direction: column;
  }

  .post-sting-group{
    height: 90px;
    padding-top: 5%;
  }

  .post-text-1{
    margin-left: 20px;
    line-height: 5px;
    font-size: 16px;
    font-weight: 600;
  }
  .post-text-2{
    margin-left: 20px;
    line-height: 5px;
    font-size: 11px;
  }
  .post-text-3{
    margin-left: 20px;
    line-height: 5px;
    font-size: 16px;
    font-weight: 600;
    color:  rgba(175, 50, 233, 1);
  }

  .post-heart{
    height: 30px;
    display: flex;
    align-items:center;
    justify-content: right;
    margin-right: 10%;
    margin-bottom: 10px;
  }

  .post-heart img{
    width: 20px;
    height: 18px;
    margin-left: 10px;
  }

  .post-heart p{
    margin-left: 2px;
    font-size: 13px;
  }

  .margin-12{
    width: 100%;
    height: 200px;
  }

  









  .bottom-nav {
    background-color:rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    margin-top: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    border-top: 1px solid #e0e0e0;
  }
  
  .bottom-nav div{
    display: grid;
    place-items: center;
  
  }
  
  .bottom-nav img {
    height: 3vh;
  }
  
  .text-11-6{
    font-size: 15px;
    margin-top: 3px;
    margin-bottom: 30px;
    text-align: center;
  }